@import "tailwindcss";

@layer base {
  .para {
    @apply text-base text-[#67777E] font-sans font-normal;
  }
}

@theme inline {
  --font-inter: var(--font-inter);
  --font-cormorant: var(--font-cormorant);
}