@import "tailwindcss";

@layer base {
  /* .para {
    @apply text-lg text-[#67777E] font-sans font-semibold;
  } */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-cormorant: var(--font-cormorant);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width:380px) {
  .imageResponsiveHeight {
    height: 120vh !important;
  }

  .responsiveMarginTop {
    margin-top: 20px;
  }
}

@media (min-width:768px) and (max-width:1030px) {
  .ipadProImageWidth {
    width: 20vw !important;
  }
}

@media (min-width:768px) and (max-width:1030px) {
  .ipadProHeight {
    height: 40vh !important;
  }

  .adventureZoneIpadProheight {
    height: 50vh !important;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter, --font-cormorant);
}

@layer utilities {
  .text-content {
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    font-family: var(--font-inter);
  }

  .text-header {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-family: var(--font-cormorant);
  }

  .text-subheader {
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    font-family: var(--font-inter);
  }
}
